.column-row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.column-height-full {
    height: 100vh;
}

.column-height-high {
    height: 50px;
}

.column-height-medium {
    height: 25px;
}

.column-height-low {
    height: 10px;
}

.column-1 {
    width: 8.33%;
}

.column-2 {
    width: 16.66%;
}

.column-3 {
    width: 25%;
}

.column-4 {
    width: 33.33%;
}

.column-5 {
    width: 41.66%;
}

.column-6 {
    width: 50%;
}

.column-7 {
    width: 58.33%;
}

.column-8 {
    width: 66.66%;
}

.column-9 {
    width: 75%;
}

.column-10 {
    width: 83.33%;
}

.column-11 {
    width: 91.66%;
}

.column-12 {
    width: 100%;
}

@media (min-width: 1000px) {
    .column-0-if-xl {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    .column-1-if-xl {
        width: 8.33%;
    }
    
    .column-2-if-xl {
        width: 16.66%;
    }
    
    .column-3-if-xl {
        width: 25%;
    }
    
    .column-4-if-xl {
        width: 33.33%;
    }
    
    .column-5-if-xl {
        width: 41.66%;
    }
    
    .column-6-if-xl {
        width: 50%;
    }
    
    .column-7-if-xl {
        width: 58.33%;
    }
    
    .column-8-if-xl {
        width: 66.66%;
    }
    
    .column-9-if-xl {
        width: 75%;
    }
    
    .column-10-if-xl {
        width: 83.33%;
    }
    
    .column-11-if-xl {
        width: 91.66%;
    }
    
    .column-12-if-xl {
        width: 100%;
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .column-0-if-lg {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    .column-1-if-lg {
        width: 8.33%;
    }
    
    .column-2-if-lg {
        width: 16.66%;
    }
    
    .column-3-if-lg {
        width: 25%;
    }
    
    .column-4-if-lg {
        width: 33.33%;
    }
    
    .column-5-if-lg {
        width: 41.66%;
    }
    
    .column-6-if-lg {
        width: 50%;
    }
    
    .column-7-if-lg {
        width: 58.33%;
    }
    
    .column-8-if-lg {
        width: 66.66%;
    }
    
    .column-9-if-lg {
        width: 75%;
    }
    
    .column-10-if-lg {
        width: 83.33%;
    }
    
    .column-11-if-lg {
        width: 91.66%;
    }
    
    .column-12-if-lg {
        width: 100%;
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .column-0-if-med {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    .column-1-if-med {
        width: 8.33%;
    }
    
    .column-2-if-med {
        width: 16.66%;
    }
    
    .column-3-if-med {
        width: 25%;
    }
    
    .column-4-if-med {
        width: 33.33%;
    }
    
    .column-5-if-med {
        width: 41.66%;
    }
    
    .column-6-if-med {
        width: 50%;
    }
    
    .column-7-if-med {
        width: 58.33%;
    }
    
    .column-8-if-med {
        width: 66.66%;
    }
    
    .column-9-if-med {
        width: 75%;
    }
    
    .column-10-if-med {
        width: 83.33%;
    }
    
    .column-11-if-med {
        width: 91.66%;
    }
    
    .column-12-if-med {
        width: 100%;
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    .column-0-if-sm {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    .column-1-if-sm {
        width: 8.33%;
    }
    
    .column-2-if-sm {
        width: 16.66%;
    }
    
    .column-3-if-sm {
        width: 25%;
    }
    
    .column-4-if-sm {
        width: 33.33%;
    }
    
    .column-5-if-sm {
        width: 41.66%;
    }
    
    .column-6-if-sm {
        width: 50%;
    }
    
    .column-7-if-sm {
        width: 58.33%;
    }
    
    .column-8-if-sm {
        width: 66.66%;
    }
    
    .column-9-if-sm {
        width: 75%;
    }
    
    .column-10-if-sm {
        width: 83.33%;
    }
    
    .column-11-if-sm {
        width: 91.66%;
    }
    
    .column-12-if-sm {
        width: 100%;
    }
}

@media (min-width: 200px) and (max-width: 399px) {
    .column-0-if-xs {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    .column-1-if-xs {
        width: 8.33%;
    }
    
    .column-2-if-xs {
        width: 16.66%;
    }
    
    .column-3-if-xs {
        width: 25%;
    }
    
    .column-4-if-xs {
        width: 33.33%;
    }
    
    .column-5-if-xs {
        width: 41.66%;
    }
    
    .column-6-if-xs {
        width: 50%;
    }
    
    .column-7-if-xs {
        width: 58.33%;
    }
    
    .column-8-if-xs {
        width: 66.66%;
    }
    
    .column-9-if-xs {
        width: 75%;
    }
    
    .column-10-if-xs {
        width: 83.33%;
    }
    
    .column-11-if-xs {
        width: 91.66%;
    }
    
    .column-12-if-xs {
        width: 100%;
    }
}

@media (min-width: 0px) and (max-width: 199px) {
    .column-0-if-nano {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    .column-1-if-nano {
        width: 8.33%;
    }
    
    .column-2-if-nano {
        width: 16.66%;
    }
    
    .column-3-if-nano {
        width: 25%;
    }
    
    .column-4-if-nano {
        width: 33.33%;
    }
    
    .column-5-if-nano {
        width: 41.66%;
    }
    
    .column-6-if-nano {
        width: 50%;
    }
    
    .column-7-if-nano {
        width: 58.33%;
    }
    
    .column-8-if-nano {
        width: 66.66%;
    }
    
    .column-9-if-nano {
        width: 75%;
    }
    
    .column-10-if-nano {
        width: 83.33%;
    }
    
    .column-11-if-nano {
        width: 91.66%;
    }
    
    .column-12-if-nano {
        width: 100%;
    }
}

@media (max-width: 600px) {
    .column-collapse .column-1 {
        width: 100%;
    }
    .column-collapse .column-2 {
        width: 100%;
    }
    .column-collapse .column-3 {
        width: 100%;
    }
    .column-collapse .column-4 {
        width: 100%;
    }
    .column-collapse .column-5 {
        width: 100%;
    }
    .column-collapse .column-6 {
        width: 100%;
    }
    .column-collapse .column-7 {
        width: 100%;
    }
    .column-collapse .column-8 {
        width: 100%;
    }
    .column-collapse .column-9 {
        width: 100%;
    }
    .column-collapse .column-10 {
        width: 100%;
    }
    .column-collapse .column-11 {
        width: 100%;
    }
    .column-collapse .column-12 {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .column-collapse-third .column-1 {
        width: 33.33%;
    }
    .column-collapse-third .column-2 {
        width: 33.33%;
    }
    .column-collapse-third .column-3 {
        width: 33.33%;
    }
    .column-collapse-third .column-4 {
        width: 33.33%;
    }
    .column-collapse-third .column-5 {
        width: 33.33%;
    }
    .column-collapse-third .column-6 {
        width: 33.33%;
    }
    .column-collapse-third .column-7 {
        width: 33.33%;
    }
    .column-collapse-third .column-8 {
        width: 33.33%;
    }
    .column-collapse-third .column-9 {
        width: 33.33%;
    }
    .column-collapse-third .column-10 {
        width: 33.33%;
    }
    .column-collapse-third .column-11 {
        width: 33.33%;
    }
    .column-collapse-third .column-12 {
        width: 33.33%;
    }
}

@media (max-width: 600px) {
    .column-collapse-half .column-1 {
        width: 50%;
    }
    .column-collapse-half .column-2 {
        width: 50%;
    }
    .column-collapse-half .column-3 {
        width: 50%;
    }
    .column-collapse-half .column-4 {
        width: 50%;
    }
    .column-collapse-half .column-5 {
        width: 50%;
    }
    .column-collapse-half .column-6 {
        width: 50%;
    }
    .column-collapse-half .column-7 {
        width: 50%;
    }
    .column-collapse-half .column-8 {
        width: 50%;
    }
    .column-collapse-half .column-9 {
        width: 50%;
    }
    .column-collapse-half .column-10 {
        width: 50%;
    }
    .column-collapse-half .column-11 {
        width: 50%;
    }
    .column-collapse-half .column-12 {
        width: 50%;
    }
}