.column-row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

.column-height-full {
    height: 100vh;
}

.column-height-extra-high {
    height: 500px;
}

.column-height-high {
    height: 300px;
}

.column-height-medium {
    height: 250px;
}

.column-height-low {
    height: 150px;
}

.column-height-extra-low {
    height: 80px;
}

@for $i from 1 through 12 {
    .column-#{$i} {width: (8% + 1/3) * $i;}
}

@media (min-width: 1000px) {
    .column-0-if-xl {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    @for $i from 1 through 12 {
        .column-#{$i}-if-xl {width: (8% + 1/3) * $i;}
    }
}

@media (min-width: 800px) and (max-width: 999px) {
    .column-0-if-lg {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    @for $i from 1 through 12 {
        .column-#{$i}-if-lg {width: (8% + 1/3) * $i;}
    }
}

@media (min-width: 600px) and (max-width: 799px) {
    .column-0-if-med {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    @for $i from 1 through 12 {
        .column-#{$i}-if-med {width: (8% + 1/3) * $i;}
    }
}

@media (min-width: 400px) and (max-width: 599px) {
    .column-0-if-sm {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    @for $i from 1 through 12 {
        .column-#{$i}-if-sm {width: (8% + 1/3) * $i;}
    }
}

@media (min-width: 200px) and (max-width: 399px) {
    .column-0-if-xs {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    @for $i from 1 through 12 {
        .column-#{$i}-if-xs {width: (8% + 1/3) * $i;}
    }
}

@media (min-width: 0px) and (max-width: 199px) {
    .column-0-if-nano {
        width: 0%;
        display: none;
        visibility: hidden;
    }
    
    @for $i from 1 through 12 {
        .column-#{$i}-if-nano {width: (8% + 1/3) * $i;}
    }
}

@media (max-width: 600px) {
    .column-collapse {
        @for $i from 1 through 12 {
            .column-#{$i} {width: 100%;}
        }
    }
}

@media (max-width: 800px) {
    .column-collapse-third {
        @for $i from 1 through 12 {
            .column-#{$i} {width: 33.33%;}
        }
    }
}

@media (max-width: 600px) {
    .column-collapse-half .column-1 {
        width: 50%;
    }
    .column-collapse-half {
        @for $i from 1 through 12 {
            .column-#{$i} {width: 50%;}
        }
    }
}