.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}

.word-wrap {
    word-wrap: break-word;
}

.circular {
    border-radius:  50%;
}

.icon {
    position: relative;
    /* Adjust these values accordingly */
    top: 8px;
}