.textarea {
    border: 1px solid #c4c4c4; 
    height: 50px;
    width: 400px;
    @media only screen and (max-width:500px) {
         width: 80%;
    }
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    box-sizing: border-box;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.textarea:focus {
    outline: none; 
    border: 1px solid #7bc1f7; 
    box-shadow: 0px 0px 8px #7bc1f7; 
    -moz-box-shadow: 0px 0px 8px #7bc1f7; 
    -webkit-box-shadow: 0px 0px 8px #7bc1f7; 
}

.textarea-readonly {
    border: 1px solid #c4c4c4; 
    height: 50px;
    font-size: 13px;
    padding: 4px 4px 4px 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    box-shadow: 0px 0px 8px #d9d9d9;
    -moz-box-shadow: 0px 0px 8px #d9d9d9;
    -webkit-box-shadow: 0px 0px 8px #d9d9d9;
    box-sizing: border-box;
}

.textarea-readonly:focus {
    outline: none; 
    border: 1px solid lightgray; 
    box-shadow: 0px 0px 8px lightgray; 
    -moz-box-shadow: 0px 0px 8px lightgray; 
    -webkit-box-shadow: 0px 0px 8px lightgray; 
}